:root {
  --color-black: #252B31;
  --color-sub-text: #888;
  --color-white: #fff;
  --color-green: #02C39A;
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/opensanssemibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/opensansextrabold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  background-color: #fff;
  min-height: 100vh;
  height: 100%;
  color: var(--color-black);
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1340px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.transition-style {
  transition: all 0.5s ease-out;
}

.header {
  padding: 25px 0;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 15px 0;
  }
}
.header .container {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 50px;
  height: 50px;
  background-color: var(--color-green);
  display: block;
  cursor: pointer;
  border-radius: 4px;
}
.header .nav {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header .nav {
    display: none;
  }
}
.header__button {
  display: flex;
  align-items: center;
  display: none;
}
@media screen and (max-width: 767px) {
  .header__button {
    margin-left: auto;
    display: flex;
  }
}
.header__button-item:not(:last-child) {
  margin-right: 10px;
}
.header__button svg {
  width: 23px;
  height: 23px;
  display: block;
  cursor: pointer;
}

.footer {
  background-color: #1F2A2E;
  padding: 25px 0;
  color: #F2F2F2;
  margin-top: auto;
}
.footer svg {
  fill: #F2F2F2;
}
.footer svg:hover, .footer svg:focus {
  fill: --color-green;
}
.footer .container {
  display: flex;
  align-items: center;
}
.footer__social {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.footer__social-item:not(:last-child) {
  margin-right: 15px;
}
.footer__social-link svg {
  width: 20px;
  height: 20px;
  fill: #F2F2F2;
}
.footer__social-link svg:hover, .footer__social-link svg:focus {
  fill: var(--color-green);
}

.portfolio__tabs {
  margin-bottom: 40px;
  position: relative;
}
.portfolio__tabs-list {
  display: flex;
  align-items: center;
}
.portfolio__tabs-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  position: relative;
  text-transform: lowercase;
}
.portfolio__tabs-item:not(:last-child) {
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .portfolio__tabs-item:not(:last-child) {
    margin-right: 20px;
  }
}
.portfolio__tabs-item::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 100%;
  left: 0;
  height: 2px;
  border-radius: 10px;
}
.portfolio__tabs-item:hover::after, .portfolio__tabs-item:focus::after {
  background-color: var(--color-green);
}
.portfolio__tabs-link {
  color: var(--color-black);
}
.portfolio__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}
@media screen and (max-width: 1279px) {
  .portfolio__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  .portfolio__grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.portfolio__item {
  margin-bottom: 30px;
  /*&:nth-child(2n) {

      .portfolio__item-img {
          min-height: 400px;
          max-height: 400px;
      }
  }*/
}
.portfolio__item-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.portfolio__item-img {
  box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.1);
  min-height: 250px;
  max-height: 250px;
  height: 100%;
  transition: 1s;
}
.portfolio__item-img img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.portfolio__item-title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  color: var(--color-black);
  margin-top: 15px;
}
.portfolio__item-type {
  font-size: 14px;
  line-height: 21px;
  color: var(--color-sub-text);
  font-weight: 600;
  text-transform: lowercase;
  margin-top: 5px;
}
.portfolio__item:hover .portfolio__item-title, .portfolio__item:focus .portfolio__item-title {
  color: var(--color-green);
}

.work__page-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
@media screen and (min-width: 1280px) {
  .work__page-item {
    flex-direction: row;
  }
}
.work__page-item .work__info {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .work__page-item .work__info {
    max-width: 440px;
    margin-right: 20px;
    padding-right: 20px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1280px) {
  .work__page-item .work__info-block {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }
}
.work__page-item .work__info h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .work__page-item .work__info h1 {
    font-size: 28px;
    line-height: 40px;
  }
}
.work__page-item .work__info-type {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-sub-text);
  text-transform: lowercase;
}
.work__page-item .work__info-text {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .work__page-item .work__info-text {
    margin-top: 20px;
  }
}
.work__page-item .work__info-text p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 0;
}
.work__page-item .work__info-text p:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .work__page-item .work__info-text p {
    font-size: 14px;
  }
}
.work__page-item .work__data {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .work__page-item .work__data {
    margin-top: 30px;
  }
}
.work__page-item .work__data-item {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.work__page-item .work__data-item span {
  color: var(--color-sub-text);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}
.work__page-item .work__data-item:not(:last-child) {
  margin-bottom: 25px;
}
.work__page-item .work__data-customer {
  color: var(--color-black);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.work__page-item .work__data-address {
  color: var(--color-green);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.work__page-item .work__tool {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 25px;
}
@media screen and (max-width: 1279px) {
  .work__page-item .work__tool {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 345px;
  }
}
.work__page-item .work__tool::before {
  content: "";
  height: 1px;
  width: 180px;
  display: block;
  border-radius: 10px;
  background-color: rgba(136, 136, 136, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1279px) {
  .work__page-item .work__tool::before {
    width: 345px;
  }
}
@media screen and (max-width: 767px) {
  .work__page-item .work__tool::before {
    width: 100%;
  }
}
.work__page-item .work__tool-date {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: var(--color-black);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.work__page-item .work__tool-date:not(:last-child) {
  margin-bottom: 15px;
}
@media screen and (max-width: 1279px) {
  .work__page-item .work__tool-date:not(:last-child) {
    margin-bottom: 0;
  }
}
.work__page-item .work__tool-date svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: var(--color-black);
}
.work__page-item .work__tool-date:hover, .work__page-item .work__tool-date:focus {
  color: var(--color-green);
}
.work__page-item .work__tool-date:hover svg, .work__page-item .work__tool-date:focus svg {
  fill: var(--color-green);
}
@media screen and (max-width: 1279px) {
  .work__page-item .work__screenshots {
    width: 100vw;
    overflow-x: scroll;
    -ms-scroll-snap-type: x proximity;
    scroll-snap-type: x proximity;
    overscroll-behavior-x: contain;
    display: flex;
    flex-wrap: nowrap;
    scroll-padding: 20px;
    justify-content: flex-start;
    scrollbar-width: none;
    margin-left: -15px;
    padding-left: 15px;
  }
}
.work__page-item .work__screenshots-item {
  box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.2);
  max-height: 450px;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}
.work__page-item .work__screenshots-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (max-width: 1279px) {
  .work__page-item .work__screenshots-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1279px) {
  .work__page-item .work__screenshots-item {
    min-height: 130px;
    min-width: 225px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.work__page-item .work__screenshots-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
}
.work__page-item .work__screenshots-video {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -o-object-fit: fill;
  object-fit: fill;
}

.services__page {
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .services__page {
    padding-bottom: 60px;
  }
}
.services__items {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .services__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}
.services__block {
  display: flex;
  justify-content: space-between;
}
.services__block:nth-child(2n) {
  grid-template-columns: auto 35%;
}
.services__block:nth-child(2n) .services__info {
  order: 1;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .services__block:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .services__block:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .services__block {
    display: grid;
    grid-template-columns: 35% auto;
  }
}
.services__info {
  background: #F7F8F9;
  border-radius: 4px;
  padding: 35px;
  max-width: 380px;
}
@media screen and (max-width: 1279px) {
  .services__info {
    padding: 25px;
    max-width: none;
  }
}
@media screen and (max-width: 767px) {
  .services__info {
    max-width: none;
    padding: 20px;
  }
}
.services__info svg {
  width: 40px;
  height: 40px;
  fill: var(--color-black);
}
.services__info-title {
  font-size: 25px;
  line-height: 42px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .services__info-title {
    font-size: 22px;
    line-height: 38px;
    margin-top: 5px;
  }
}
.services__info-text {
  font-size: 15px;
  line-height: 23px;
  margin-top: 20px;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .services__info-text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
  }
}
.services__info-img {
  border-radius: 4px;
  position: relative;
  max-height: 275px;
  overflow: hidden;
}
.services__info-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 43, 49, 0.1);
  border-radius: 4px;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .services__info-img {
    display: none;
  }
}
.services__info-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.about__page {
  padding-bottom: 100px;
}
.about__page-item {
  display: grid;
  grid-template-columns: 35% auto;
  padding: 80px 0;
  position: relative;
}
@media screen and (max-width: 1279px) {
  .about__page-item {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }
}
.about__page-item:nth-child(odd)::after {
  content: "";
  background-color: #F7F8F9;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100vw;
  height: 100%;
  z-index: -1;
}
.about__page-title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  margin-bottom: 40px;
}
.about__page-title::after {
  content: "";
  width: 70px;
  height: 2px;
  display: block;
  background-color: var(--color-green);
  border-radius: 10px;
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .about__page-title {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .about__page-content {
    padding-top: 10px;
  }
}
.about__page-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.about__page-content p:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .about__page-content p {
    font-size: 14px;
    line-height: 22px;
  }
}
.about__page-experience {
  font-size: 16px;
  line-height: 24px;
}
@media screen and (max-width: 767px) {
  .about__page-experience {
    font-size: 14px;
    line-height: 22px;
  }
}
.about__page-experience li:not(:last-child) {
  margin-bottom: 30px;
}
.about__page-experience span {
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}
.about__page-skills {
  display: flex;
}
@media screen and (max-width: 767px) {
  .about__page-skills {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.about__page-skills li {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .about__page-skills li {
    align-items: center;
    width: 100%;
    font-size: 20px;
    line-height: 36px;
  }
  .about__page-skills li:not(:last-child) {
    margin-bottom: 20px;
  }
}
.about__page-skills svg {
  width: 35px;
  height: 35px;
  margin-bottom: 20px;
}
.about__page-use {
  display: flex;
  flex-wrap: wrap;
}
.about__page-use li {
  width: 20%;
  margin-top: 70px;
}
.about__page-use li:nth-child(-n+5) {
  margin-top: 0;
}
@media screen and (max-width: 1279px) {
  .about__page-use li {
    margin-top: 30px;
  }
}
.about__page-use svg {
  width: 45px;
  height: 45px;
}
@media screen and (max-width: 1279px) {
  .about__page-use {
    padding-top: 20px;
  }
}

.corp__page {
  padding-bottom: 100px;
}
.corp__title {
  margin-bottom: 50px;
}
.corp .cooperation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
@media screen and (max-width: 767px) {
  .corp .cooperation {
    display: flex;
    grid-gap: 0;
    flex-direction: column;
  }
}
.corp .cooperation__input {
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  padding: 15px;
  width: 100%;
}
.corp .cooperation__field {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .corp .cooperation__field:not(:last-child) {
    margin-bottom: 20px;
  }
}
.corp .cooperation__field-textarea {
  grid-column-start: 1;
  grid-column-end: 3;
}
.corp .cooperation__textarea {
  min-height: 210px;
  max-height: 210px;
  height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  padding: 15px;
}
.corp .cooperation__button {
  border-radius: 4px;
  padding: 15px 25px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  border: none;
  background-color: var(--color-green);
  cursor: pointer;
}
.corp .cooperation__licenze {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 30px;
}
.nav__link {
  font-weight: 600;
  color: var(--color-black);
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}
.nav__link::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -4px;
  border-radius: 50px;
  background-color: transparent;
  left: 0;
}
.nav__link:hover, .nav__link:focus, .nav__link-active {
  transition: all 0.2s;
}
.nav__link:hover::after, .nav__link:focus::after, .nav__link-active::after {
  background-color: var(--color-green);
}

.pagination {
  padding: 30px 0;
  margin: 20px 0 70px;
}
.pagination__list {
  display: flex;
  align-items: center;
}
.pagination__item:not(:first-child), .pagination__item:not(:last-child) {
  margin-right: 10px;
}
.pagination__item:first-child {
  margin-right: auto;
}
.pagination__item:last-child {
  margin-left: auto;
  margin-right: 0;
}
.pagination__item:nth-last-child(-n+2) {
  margin-right: 0;
}
.pagination__item:first-child .pagination__link, .pagination__item:last-child .pagination__link {
  padding: 5px;
}
.pagination__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: var(--color-black);
  padding: 8px 14px;
  background-color: unset;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__link-active, .pagination__link:hover, .pagination__link:focus {
  background-color: #E9E9E9;
}
.pagination__work {
  background-color: #F7F8F9;
  padding: 37px 0;
}
@media screen and (max-width: 1279px) {
  .pagination__work {
    padding: 25px 0;
  }
}
.pagination__work-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagination__work-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.pagination__work-item:first-child svg {
  margin-right: 5px;
  margin-left: -7px;
}
.pagination__work-item:last-child svg {
  margin-left: 5px;
  margin-right: -7px;
}

.category__title {
  padding: 10px 0;
  margin-bottom: 40px;
}
.category__title h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  color: var(--color-black);
  margin-bottom: 20px;
  margin-top: 0;
}
.category__title p {
  color: var(--color-sub-text);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  max-width: 420px;
}

.breadcrumbs {
  background-color: #F7F8F9;
  padding: 40px 0;
  margin-bottom: 50px;
}
@media screen and (max-width: 1279px) {
  .breadcrumbs {
    padding: 25px 0;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .breadcrumbs {
    padding: 15px 0;
    margin-bottom: 25px;
  }
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  position: relative;
  text-transform: lowercase;
  color: var(--color-sub-text);
  font-size: 14px;
  line-height: 22px;
}
.breadcrumbs__item:not(:last-child) {
  padding-right: 20px;
  margin-right: 20px;
}
.breadcrumbs__item:not(:last-child)::after {
  content: "";
  height: 100%;
  width: 1px;
  border-radius: 50%;
  background: var(--color-green);
  opacity: 0.6;
  position: absolute;
  right: 0;
}
.breadcrumbs__link {
  color: var(--color-sub-text);
}
.breadcrumbs__link:hover, .breadcrumbs__link:focus {
  color: var(--color-green);
}

svg {
  width: 26px;
  height: 26px;
}
/*# sourceMappingURL=main.css.map */
